.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 500px 150px;
  grid-template-areas: 
    "h h h"
    "m m ."
    "f f f";
  border: 10px solid red;
}
.container > * {
  border: 4px solid;
  font-size: 70px;
}
header {
  grid-area :h;
}
main {
  grid-area :m;
}
aside {
  grid-area :a;
}
footer {
  grid-area :f;
}
